<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook-Clone</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header >
    <h1 class="header">
        <form action="#" class="home" method="get" th:action="@{/posts/home}">
            <label>
                <button type="submit">Facebook-Clone</button>
            </label>
        </form>
        <form action="#" class="home" method="get" th:action="@{/user/home}">
            <label>
                <button type="submit">My profile</button>
            </label>
        </form>
        <form action="#" class="search" method="get" th:action="@{/posts/search}">
            <label>
                <input name="search" class="search-input" type="text" placeholder="Search...">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </label>
        </form>
        <form action="#" class="home" method="get" th:action="@{/logout}">
            <label>
                <button type="submit">Log out</button>
            </label>
        </form>
    </h1>
</header>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*@thymesVar id="user" type="com.grzegorzkartasiewicz.user.User"*/-->
    <dl th:if="${user != null}" class="Bd P(10px)">
        <dt th:text="|${user.name} ${user.surname} ${user.age}|">...</dt>
        <dd>
            <form th:if="${session.user.id == user.id}" action="#" method="post" th:action="@{/user}">
                <label >
                    <input type="text" placeholder="What do you think?" name="description" />
                </label>
                <button type="submit">Create post >></button>
            </form>
            <ul>
                <li th:each="post : ${user.posts}">
                    <div>
                        <span th:text="|${post.user.name} ${post.user.surname}|"></span>
                        <form th:if="${session.user.id == post.user.id}" class="display" action="#" method="post" th:action="@{/user/posts/delete/{postId}(postId=${post.id})}">
                            <input type="hidden">
                            <button type="submit">X</button>
                        </form>
                    </div>
                    <span th:text="|${post.time}|"></span> <br>
                    <p class="post-description" th:text="|${post.description}|"></p>
                    <dl>
                        <ul>
                            <li th:each="comment : ${post.comments}">
                                <div>
                                    <a th:href="@{/user(user=${comment.user.id})}">
                                        <span th:text="|${comment.user.name} ${comment.user.surname}|"></span>
                                    </a> <br>
                                    <form th:if="${session.user.id == comment.user.id}" class="display" action="#" method="post" th:action="@{/user/comment/delete/{commentId}(commentId=${comment.id})}">
                                        <input type="hidden">
                                        <button type="submit">X</button>
                                    </form>
                                </div>
                                <span th:text="|${comment.time}|"></span> <br>
                                <span th:text="${comment.description}"></span> <br>
                            </li>
                        </ul>
                        <form action="#" method="post" th:action="@{/user/comments/{postId}(postId=${post.id})}">
                            <label >
                                <input type="text" placeholder="What do you think?" name="description" />
                            </label>
                            <button type="submit">Create comment >></button>
                        </form>
                    </dl>
                </li>
            </ul>

        </dd>
    </dl>
</body>
</html>